/* This file is for your main application css. */

.budget-name {
    font-weight: bold;
}

.budget-sidebar {
  width: 50%;
  float: left;
}

.add-category {
  float: left;
  width: 50%;
}

.input-form {
  width: 80%;
  display: inline-block;
  padding: 2px;
  text-align: right;
}

.inputs {
  width: 100%;
  height: 230px;
  padding: 20px;
}

.amount-input {
  border: 1px solid red;
  display: inline-block;
  padding: 2px;
}

.category-list {
  text-align: left;
  border-collapse: collapse;
}

.category-list th {
  width: 100px;
  padding: 5px;
}

.category-list td {
  width: 100px;
  padding 10px;
}

.add-transaction {
  width: 50%;
  float: right;
}

.transactions {
  width: 50%;
  float: right;
}

.transaction-data {
  border: 1px solid gray;
  text-align: left;
  border-collapse: collapse;
}

.transaction-data th {
  border: 1px solid gray;
  padding: 5px;
  width: 100px;
}

.transaction-data td {
  border: 1px solid gray;
  padding: 5px;
  width: 100px;
}
